<div class="d-flex">

  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main -->
  <div class="main flex-grow-1 p-4">

    <!-- Topbar -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <input class="form-control w-75 search border border-primary" placeholder="Tìm kiếm...">
      <div>
        <i class="bi bi-bell text-black me-3"></i>
        <i class="bi bi-person-circle text-black"></i>
      </div>
    </div>

    <!-- Nội dung page -->
    <router-outlet></router-outlet>

  </div>
</div>